
# Config lié à l'utisateur
api/api_keys.json
web/config.py
Utils/config.ini

# Préférence de l'utilisateur
web/stockage_order.json
web/dispatch_routes.json
web/stockage_zone_config.json

# Donnée de l'utilisateur
web/logs/fin_logs.jsonl

# Python
*__pycache__*

# Edition Egild
.codex/*
Documentation/*
Utils/egild.install.sh

# EN COURS
Tutorial/FinCmk/readme.md



